scipy
tldextract
opencv-python
h11==0.13.0
h2==4.1.0
selenium==3.141.0
pyopenssl==22.0.0
selenium-wire==4.4.0
helium
httpcore
hyperframe
webdriver-manager
pandas
numpy
tqdm
Pillow
pathlib
fvcore
pycocotools
scikit-learn
python-telegram-bot
gspread
oauth2client
editdistance
lxml