scipy
tldextract
opencv-python
webdriver-manager
pandas
numpy
tqdm
Pillow~=9.5
pathlib
fvcore
pycocotools
scikit-learn
python-telegram-bot
gspread
oauth2client
editdistance
lxml
cryptography==38.0.4
httpcore==0.15.0
h11
h2
hyperframe
pyopenssl==22.0.0
selenium==4.0.0
selenium-wire

