scipy
tldextract
opencv-python
selenium==4.0.0
selenium-wire==4.4.0
helium
httpcore
h2
hyperframe
h11
webdriver-manager
pandas
numpy
tqdm
Pillow
pathlib
fvcore
pycocotools
scikit-learn
python-telegram-bot
gspread
oauth2client
editdistance
lxml